<div *ngIf="listsFound && listEntries.length > 0" class="full-display-detail">
  <h5 class="section-title mat-title-small">{{ displayLabel }}</h5>

  <div>
    <ul class="reading-lists mat-body-medium">
      <li *ngFor="let list of listEntries">
        <a [href]="list.url"
           target="_blank"
           rel="noopener noreferrer"
           [attr.aria-label]="list.name + ' - Opens in new tab'"
           class="hyper-text">
          {{ list.name }}
          <mat-icon aria-hidden="true" class="external-link-icon">open_in_new</mat-icon>
        </a>
      </li>
    </ul>
  </div>
</div>
